#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.ordenable{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ordenable li{
    border: 1px solid #ccc;
    padding: 4px 4px 4px 18px;
    margin: 4px 0;
    width: 220px;
    background-color: #eee;
}
.ordenable li span {
    position: absolute;
    margin-left: -15px;
}
